*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

@font-face {
    font-family: CalibriB;
    src: url(../Fonts/CALIBRIB.TTF);
}



@font-face {
    font-family: UbantuM;
    src: url(../Fonts/ubuntu.medium.ttf);
}

@font-face {
    font-family: UbantuR;
    src: url(../Fonts/ubuntu.regular.ttf);
}


@font-face {
    font-family: UbantuB;
    src: url(../Fonts/ubuntu.bold.ttf);
}

#FirstUI_BG{
    max-height: 1019rem;
    background: transparent linear-gradient(180deg, #184261 0%, #029FA4 100%) 0% 0% no-repeat padding-box;
    position: relative;
    border:2px solid greenyellow;
    

    
    #Navbar{
            border:1rem solid rgb(255, 255, 255);
            height:111rem;
            position: absolute;
            display: flex;
            justify-content: center;
          


            #Logo_Div{
                width:163rem;
                height:48rem;
                 border: 1rem solid orange;
                position: absolute;
                top:29rem;
                left:100rem;
                
                img{
                    width:100%;
                    height:100%;
                    
                }
            }


            #Service_Resource_Button{
              border:2rem solid rgb(255, 0, 191);
                width:29%;
                justify-content: space-between;
                position: absolute;
                top:17rem;
                left:34%;
                
                
                #Service_Button,#Resource_Button{
                font-size: 35rem;
                color:white;
                font-family: CalibriB;
             border:2px solid red;

                            @media screen and (max-width:984px){
                            &{
                                font-size: 30rem;
                            }

                            @media screen and (max-width:890px){
                                &{
                                    font-size: 25rem;
                                }
                            }

                           
                        }


                }

            }

            #Profile_Icon{
                width:162rem;
                height:65rem;
                background-color: white;
                border-radius: 52rem;
                position: absolute;
                top:23rem;
                right:54rem;


                #ProfileDP{
                    position:absolute;
                    bottom: 13rem;
                    right:10rem;
                    width:40rem;
                    cursor: pointer;
                }
            }
    }




    #Conskid_wrapper{
       border:1rem solid greenyellow;
        height:704rem;
        position: absolute;
        justify-content: center;
        bottom:86rem;

        #Non_vector{
padding-top: 100rem !important;
padding-left: 60rem !important;

@media screen and (max-width:890px){
    &{
        padding-left: 5% !important;
    }
}

            height: inherit;
            p{
                font-size: 70rem;
                 
                @media screen and (max-width:1030px){
                    &{
                        font-size: 60rem;
                    }
                }
                   


                font-family: UbantuM;
                text-align: left;
                font: normal normal medium 120px/140px UbuntuM;
                color:white;
                border:1rem solid Red;

                span{
                    position: relative;
                    &::before{
                        content:"";
                        width:44%;
                        height: 12rem;
                        background-color: white;
                        position:absolute;
                        bottom:-25rem;
                        left:10rem;
                        border-radius: 10rem;
                        
                    }
                }

                

            }

            pre{
                font-size: 40rem !important;
                font-family: UbantuR;
                color:white;
                 border:1rem solid greenyellow;
                padding-top: 60rem;
                letter-spacing: 1.2px;
                line-height: 80rem;

                @media screen and (max-width:1030px){
                    &{
                        font-size: 25rem;
                    }
                }
                @media screen and (max-width:890px){
                    &{
                        font-size: 10rem;
                    }
                }

            }



            #Join_Button{
                
                width:12vw;margin-top: 46rem;
                background-color: white;
                border-radius: 61rem;
                height: 10%;
                color:black;
                font-family:UbantuB;
                font-size: 45rem;
                text-align: center;
                padding-top: 7rem;
               transform: scale(1);
                


                &:hover{
                transform: scale(1.02);
                   transition: transform 0.25s;
                   cursor: pointer;
                }

                @media screen and (max-width:1030px){
                    &{
                        font-size: 40rem;
                    }
                }

                @media screen and (max-width:890px){
                    &{
                        font-size: 35rem;
                    }
                }

               
            }
        }

        #Mainvector{

            height: inherit;

            #vector{
                width:90%;
                height: 90%;;
            }
        }



       
        
    }

}


// ********************************************

@font-face {
    font-family: RaleWayR;
    src: url(../Fonts/static/Raleway-Regular.ttf);
}


#FirstUI_BG{


    ul{
        font-size: 22rem;
        list-style-type: none;
        width:320rem;
        position: absolute;
        background-color: white;
        border-radius: 16rem;
        z-index: 2;
        overflow: hidden;
    
        li{
            padding: 16px !important;
         
            text-align: center;
            letter-spacing: 0.88px;
            color: #1A2E35;
            font-family: RaleWayR;
            border-bottom: 1rem solid #E0E0E0;
            
    
            &:hover{
                background-color:  rgba(175, 183, 185,0.5);
            }
    
            a{
                text-decoration: none;
    
                &:any-link{
                    color:#1A2E35;
                }
            }
        }
    }
}








