* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: CalibriB;
  src: url(../Fonts/CALIBRIB.TTF);
}

@font-face {
  font-family: UbantuM;
  src: url(../Fonts/ubuntu.medium.ttf);
}

@font-face {
  font-family: UbantuR;
  src: url(../Fonts/ubuntu.regular.ttf);
}

@font-face {
  font-family: UbantuB;
  src: url(../Fonts/ubuntu.bold.ttf);
}

#FirstUI_BG {
  max-height: 1019rem;
  background: transparent -webkit-gradient(linear, left top, left bottom, from(#184261), to(#029FA4)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(180deg, #184261 0%, #029FA4 100%) 0% 0% no-repeat padding-box;
  position: relative;
  border: 2px solid greenyellow;
}

#FirstUI_BG #Navbar {
  border: 1rem solid white;
  height: 111rem;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#FirstUI_BG #Navbar #Logo_Div {
  width: 163rem;
  height: 48rem;
  border: 1rem solid orange;
  position: absolute;
  top: 29rem;
  left: 100rem;
}

#FirstUI_BG #Navbar #Logo_Div img {
  width: 100%;
  height: 100%;
}

#FirstUI_BG #Navbar #Service_Resource_Button {
  border: 2rem solid #ff00bf;
  width: 29%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 17rem;
  left: 34%;
}

#FirstUI_BG #Navbar #Service_Resource_Button #Service_Button, #FirstUI_BG #Navbar #Service_Resource_Button #Resource_Button {
  font-size: 35rem;
  color: white;
  font-family: CalibriB;
  border: 2px solid red;
}

@media screen and (max-width: 984px) {
  #FirstUI_BG #Navbar #Service_Resource_Button #Service_Button, #FirstUI_BG #Navbar #Service_Resource_Button #Resource_Button {
    font-size: 30rem;
  }
}

@media screen and (max-width: 984px) and (max-width: 890px) {
  #FirstUI_BG #Navbar #Service_Resource_Button #Service_Button, #FirstUI_BG #Navbar #Service_Resource_Button #Resource_Button {
    font-size: 25rem;
  }
}

#FirstUI_BG #Navbar #Profile_Icon {
  width: 162rem;
  height: 65rem;
  background-color: white;
  border-radius: 52rem;
  position: absolute;
  top: 23rem;
  right: 54rem;
}

#FirstUI_BG #Navbar #Profile_Icon #ProfileDP {
  position: absolute;
  bottom: 13rem;
  right: 10rem;
  width: 40rem;
  cursor: pointer;
}

#FirstUI_BG #Conskid_wrapper {
  border: 1rem solid greenyellow;
  height: 704rem;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 86rem;
}

#FirstUI_BG #Conskid_wrapper #Non_vector {
  padding-top: 100rem !important;
  padding-left: 60rem !important;
  height: inherit;
}

@media screen and (max-width: 890px) {
  #FirstUI_BG #Conskid_wrapper #Non_vector {
    padding-left: 5% !important;
  }
}

#FirstUI_BG #Conskid_wrapper #Non_vector p {
  font-size: 70rem;
  font-family: UbantuM;
  text-align: left;
  font: normal normal medium 120px/140px UbuntuM;
  color: white;
  border: 1rem solid Red;
}

@media screen and (max-width: 1030px) {
  #FirstUI_BG #Conskid_wrapper #Non_vector p {
    font-size: 60rem;
  }
}

#FirstUI_BG #Conskid_wrapper #Non_vector p span {
  position: relative;
}

#FirstUI_BG #Conskid_wrapper #Non_vector p span::before {
  content: "";
  width: 44%;
  height: 12rem;
  background-color: white;
  position: absolute;
  bottom: -25rem;
  left: 10rem;
  border-radius: 10rem;
}

#FirstUI_BG #Conskid_wrapper #Non_vector pre {
  font-size: 40rem !important;
  font-family: UbantuR;
  color: white;
  border: 1rem solid greenyellow;
  padding-top: 60rem;
  letter-spacing: 1.2px;
  line-height: 80rem;
}

@media screen and (max-width: 1030px) {
  #FirstUI_BG #Conskid_wrapper #Non_vector pre {
    font-size: 25rem;
  }
}

@media screen and (max-width: 890px) {
  #FirstUI_BG #Conskid_wrapper #Non_vector pre {
    font-size: 10rem;
  }
}

#FirstUI_BG #Conskid_wrapper #Non_vector #Join_Button {
  width: 12vw;
  margin-top: 46rem;
  background-color: white;
  border-radius: 61rem;
  height: 10%;
  color: black;
  font-family: UbantuB;
  font-size: 45rem;
  text-align: center;
  padding-top: 7rem;
  -webkit-transform: scale(1);
          transform: scale(1);
}

#FirstUI_BG #Conskid_wrapper #Non_vector #Join_Button:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
  cursor: pointer;
}

@media screen and (max-width: 1030px) {
  #FirstUI_BG #Conskid_wrapper #Non_vector #Join_Button {
    font-size: 40rem;
  }
}

@media screen and (max-width: 890px) {
  #FirstUI_BG #Conskid_wrapper #Non_vector #Join_Button {
    font-size: 35rem;
  }
}

#FirstUI_BG #Conskid_wrapper #Mainvector {
  height: inherit;
}

#FirstUI_BG #Conskid_wrapper #Mainvector #vector {
  width: 90%;
  height: 90%;
}

@font-face {
  font-family: RaleWayR;
  src: url(../Fonts/static/Raleway-Regular.ttf);
}

#FirstUI_BG ul {
  font-size: 22rem;
  list-style-type: none;
  width: 320rem;
  position: absolute;
  background-color: white;
  border-radius: 16rem;
  z-index: 2;
  overflow: hidden;
}

#FirstUI_BG ul li {
  padding: 16px !important;
  text-align: center;
  letter-spacing: 0.88px;
  color: #1A2E35;
  font-family: RaleWayR;
  border-bottom: 1rem solid #E0E0E0;
}

#FirstUI_BG ul li:hover {
  background-color: rgba(175, 183, 185, 0.5);
}

#FirstUI_BG ul li a {
  text-decoration: none;
}

#FirstUI_BG ul li a:-webkit-any-link {
  color: #1A2E35;
}

#FirstUI_BG ul li a:-moz-any-link {
  color: #1A2E35;
}

#FirstUI_BG ul li a:any-link {
  color: #1A2E35;
}
/*# sourceMappingURL=FirstUI.css.map */