* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: Montserrat;
  src: url(../Fonts/FontsFree-Net-Montserrat-Medium.ttf);
}
<<<<<<< HEAD
@font-face {
  font-family: Seoge UI Regular;
  src: url(../Asset/seoge_UI.ttf);
}
=======
>>>>>>> a604c266835eea5004b39a66a5007263bc672e86

@font-face {
  font-family: MontserratB;
  src: url(../Fonts/FontsFree-Net-Montserrat-Bold-1.ttf);
}

@font-face {
  font-family: CalibriR;
  src: url(../Fonts/CALIBRI.TTF);
}

#Journey {
  /* border: 4rem solid black; */
  position: absolute;
  top: 3450rem;
}

@media screen and (max-width: 949px) {
  #Journey {
    top: 3750rem;
  }
}

#Journey #Journey_Heading {
  color: #164966;
  font-family: UbantuM;
  font-size: 70rem;
  text-align: center;
  width: 100%;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-bottom: 50rem;
}

#Journey #Journey_vector {
  height: 892rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#Journey #Journey_vector #vector {
<<<<<<< HEAD
  display: flex;
    justify-content: center;
=======
>>>>>>> a604c266835eea5004b39a66a5007263bc672e86
  width: inherit;
  height: inherit;
}

#Journey #Journey_vector #vector img {
<<<<<<< HEAD
  width: 75%;
=======
  width: 100%;
>>>>>>> a604c266835eea5004b39a66a5007263bc672e86
  height: 100%;
}

#Testimonial {
  /* border: 1rem solid magenta; */
  height: 910rem;
  position: absolute;
  top: 4700rem;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

@media screen and (max-width: 800px) {
  #Testimonial {
    top: 3712rem;
  }
}
@media screen and (max-width: 701px) {
  #Testimonial {
    top: 3637rem;
  }
}


#Testimonial #Testimonial_Heading {
  font-size: 70rem;
  font-family: UbantuM;
  color: #164966;
  text-align: center;
}

#Testimonial #Testimonial_Carousel {
  /* border: 4rem solid dodgerblue; */
  height: 90%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18rem;
  /* border: 2px solid green; */
  padding-top: 3%;
  margin: 0px 20rem;
  position: relative;
  left: -100rem;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.Card {
  width: 535rem;
  height: 644rem;
  /* border: 2px solid dodgerblue; */
  -webkit-box-shadow: 0px 0px 80px #0000001b;
          box-shadow: 0px 0px 80px #0000001b;
  position: relative;
  margin-bottom: 40rem;
}

@media screen and (max-width: 947px) {
  .Card {
    margin: 0rem 30rem;
  }
}

.Card .Card_Text_Holder {
  /* border: 2px solid yellow; */
  padding: 52rem 0rem 0rem 78rem;
  position: relative;
  font-size: 40rem;
}



.Card .Name_Holder {
  height: 220rem;
  margin-top: 60rem;
  background: url("../Asset/Path399.svg") no-repeat;
  background-size: contain;
  position: relative;
}

.Card .Name_Holder picture img {
  width: 116rem;
  height: 116rem;
  left: 203rem;
  position: absolute;
  border-radius: 50%;
  top: -73rem;
}

@media screen and (max-width: 947px) {
  .Card .Name_Holder picture img {
    left: 37.5%;
  }
}

.Card .Name_Holder div {
  color: black;
  font-size: 20rem;
  color: white;
}

.Card .Name_Holder div p {
  padding-top: 94rem;
  font-family: MontserratB;
}

.Card .Name_Holder div span {
<<<<<<< HEAD
  font: normal normal normal 18rem/22rem Seoge UI Regular;
=======
  font: normal normal normal 18rem/22rem CalibriR;
>>>>>>> a604c266835eea5004b39a66a5007263bc672e86
}

.Card .Card_Content {
  font-size: 20rem;
  font-family: Montserrat;
  line-height: 1.3;
  color: #000000;
  width: 378rem;
  height: 315rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}
/*# sourceMappingURL=Journey.css.map */
@media screen and (max-width: 947px) {
  .Card .Card_Text_Holder {
    padding: 0% 0rem 0rem 5%;
  }
  .Card .Name_Holder div p{
    font-size: 12px;
    padding-top: 57rem;
  }
}