*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

@font-face {
    font-family: UbantuM;
    src: url(../Fonts/ubuntu.medium.ttf);
}

#ComingSoon_container{
    width: 100vw;
    min-height: 1080rem;
 border:2px solid black;
   

    
}


#Building{
    background-image: url("./Component 42 – 1.svg");
    background-repeat:repeat-x ;

    background-position-y: 143rem;
    background-size: contain;
    // border:2rem solid magenta;
   
    

    pre{
    
 
text-align: center;
font: normal normal medium 80rem/92rem UbuntuM;
letter-spacing: 48rem;
color: #00A1A4;
font-weight: bold;
opacity: 1;
font-size: 70rem;
// border:2px solid black;

@media screen and (max-width:600px)
        {
            letter-spacing: 4vw;
            font-size: 7vw;;
        }

    }
    p{
        font-size: 3vw;
        font-family: UbantuM;
        color:#1A2E35;
        letter-spacing: 10.5rem;
        text-align: center;
        margin:25rem;
    }

    
}

#Logo{
    // border:2px solid green;
    img{
        width:162rem;
        height:48rem;

       

        position: absolute;
        top:49rem;
        left:100rem;
    }
}

#image{
    @media screen and (max-width:600px)
    {
        width: "39vw";
        height: "37.2vw";
        margin-top: "7vw";
        margin-bottom: "4.5vw"
    }
}