*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


#App_Container{
    width: 100vw;
    min-height:5950rem;
    //  border:1rem solid black;
    background-color: #F5F5F5 !important;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    position:absolute;

    a #Nav_To_Top{
        width:70rem;
        height:70rem;
        z-index: 100;
        position: fixed;
        // border:2px solid red;
        bottom:10rem;
        right:15rem;
        font-size: 100rem;
        color:white;
        background-color: black;
        display: none;
        text-align: center;
        border-radius: 10rem;

        transition: transform 0.25s ease-in-out;


        &:hover{
            transform: scale(1.1);
            box-shadow: 0 0 10rem black;
            text-shadow: 0 0 5rem white;
            
        }

    }
}



