*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

@font-face {
    font-family: CalibriR ;
    src: url(../Fonts/CALIBRI.TTF);
}

@font-face {
    font-family: CalibriB;
    src: url(../Fonts/CALIBRIB.TTF);
}

#Footer{
    width:100%;
    height:675rem;
    position:absolute;
    top:5300rem;
    background: #1A364E url("../Asset/Footer Map.svg") no-repeat center center;
    background-size: 1573rem 492rem ;

    @media screen and (max-width:949px){
        &{
            top:5550rem;
        }
    }

    
    img{
        position: absolute;
        width: 1574rem;
        height: 492rem;
        margin: 91rem 173rem !important;
    }


    .List{
               
        list-style: none;

        li{
            color:white;
            font-size:23rem;
            font-family: CalibriB;
            padding:10rem 0rem;
            border-left: 5rem solid #A7DFF5;
            padding-left: 24rem;

            a{
                color:white;
                text-decoration: none;
            }
        }
    }
    

    .box1{

        padding-top: 95rem;
        padding-left: 121rem;
            // border:2rem solid white;
            .content1{
                // border:2rem solid orangered;
                width:429rem;
                

                p{
                    font-size: 46rem;
                    font-family: CalibriR;
                    color:white;
                    // border:2rem solid yellow;
                    
                }

                #ContactUs{
                    width:262rem;
                    height:73rem;
                    background-color: #276684;
                    box-shadow: 0px 3px 6px #00000052;
                    border-radius: 7px;
                    font-family: CalibriB;
                    font-size: 46rem;
                    padding:6rem 26rem 11rem 29rem;
                    margin: 45rem 0rem ;
                    color: #fff;
                    
                } 

                #MailCall{

                    // border:2px solid orangered;
                    p{
                        font-size: 27rem;
                        font-family: CalibriR;
                        color:#a7dff5;
                        a{
                            color:inherit ;
                            text-decoration: none;
                            &:visited{color:#a7dff5 !important;}
                        }
                    }
                }
                #SocialHandles{
                    // border:2px solid magenta;
                    margin-top: 36rem;

                    a{
                        // border:2px solid red;

                    }

                    
                }
                
            }
    }
    .box2{

        padding-top: 95rem;
        // border:2rem solid white;
        padding-left: 214rem;
        .content2{
            // border:2rem solid orangered;
            
            width:80%;

           

            #Solutions{
                font-size: 38rem;
                font-family: CalibriB;
                // border:2px solid greenyellow;
                color:white;
            }
            #ServiceList{
                // border:2px solid yellow;

                #ServiceHead{
                    font-size: 38rem;
                    font-family: CalibriR;
                    color:#A7DFF5;
                    margin: 13rem 0rem 28rem 0rem;
                    
                }

                
            }

            #ResourceList{
                // border:2px solid blue;
                #ResourceHead{
                    font-size: 38rem;
                font-family: CalibriR;
                color:#A7DFF5;
                margin: 13rem 0rem 13rem 0rem;
                }
            }
           
        }
    }
    .box3{

        padding-top: 95rem;
        // border:2rem solid white;
        padding-left: 135rem;
        .content3{
            // border:2rem solid orangered;
            height:408rem;
            width: 60%;

            #About{
                font-family: CalibriB;
                font-size:38rem;
                color:#A7DFF5;
                // border:2px solid green;
            }

            #AboutList{
                margin-top: 57rem;
                // border:2px solid greenyellow;
            }

            
        }
    }

}